ol {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

h1 {
font-family: Tahoma, Geneva, sans-serif;
font-weight: bold;
font-size: 2.0em;
color: black;
margin-left: 30px;
}

h2 {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  color: black;
  margin-left: 30px;
}
h4 {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  color:black;
}

p {
font-family: Tahoma, Geneva, sans-serif;
color: black;
margin-left: 30px;

}

#modal {
font-family: Tahoma, Geneva, sans-serif;
color: black;
margin-left:auto;
margin-right:auto;
text-align: center;
}

label {
  display: inline-block;
  margin-left: 0px;
}


form {
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}
/******************************************************************************/
li {
font-family: Tahoma, Geneva, sans-serif;
font-weight: bold;
display: inline;
}
body {
background-color: white;
/*background-image: url("bulb3.jpg");*/
background-repeat: no-repeat;
background-size: auto;
font-family: Tahoma, Geneva, sans-serif;
}

div {
  display: block;
}

#firstrow, #secondrow, #thirdrow {
  display: block;
  padding: 4px;
  width: 90%;
  
}
#lev {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#title, #author, #abstract, #affiliation, #year, #source {
  width: 45%;
  height: 100%;
}

#words, #mis {
  width: 45%;
  height: 100%;
}
#myModal-words, #myModal-mis {
  width: 100%;
  height: 100%;
  text-align:center;
  position: absolut;
}

.x.axis path {
  display: none;
}
/******************************************************************************/
.btn {
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 30px;
}
.radioone{
    text-align: left;
}
.toolsTextLinks{
  width: 200px;
  height: 30px;
  margin-left: 30px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
}

.accordion {
    color: #5e5e5e;
    background-color: #f8f8f8;
    cursor: pointer;
    padding: 18px;
    margin-left: 0px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #e6e6e6;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: transparent;
    overflow: hidden;
}
table {
    font-family: Tahoma, Geneva, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    background-color: transparent;
}

tr:nth-child(even) {
    background-color: transparent;
}
.bar-chart-lev {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: block;
}
